[Unit]
Description=Face Recognition Software Monitor
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/Documents/dataiker-recognition/pi
ExecStart=python3 /home/pi/Documents/dataiker-recognition/pi/app.py
User=pi

[Install]
WantedBy=multi-user.target
